p {
    margin: 0;
}

.lightgrey {
    color: grey;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
    border-bottom: 3px solid darkred;
}

.App-intro {
    font-size: large;
}


.window {
    background-color: gray;
    padding: 10px;
}

.signIn {
    background-color: lightgrey;
    display: inline-block;
    margin: 10px;
    text-align: left;
}

.joinRoom {
    background: lightgrey;
    display: inline-block;
    margin: 10px;

}

.item {
    display: block;
}

.status {
    background-color: black;
}

.userNameRight {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-left: 100px;

}

.userNameLeft {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-right: 100px;
}

.conversation {
    height: 500px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    overflow: scroll;

}

.messageList {
    text-align: left;
    list-style: none;
    margin-top: 10px;
}

.messageItemHome {
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: darkred;
    width: 50%;
    margin-left: 45%;
}

.messageItemAway {
    margin: 10px;
    border: 1px solid darkred;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgrey;
    width: 50%;
}


.input {
    height: 100px;
    background-color: lightgray;
    margin: 10px;

}

.typeMessage {
    margin: 20px 5px 5px 5px;
    height: 25px;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.send {
    margin: 20px 5px 5px 5px;
    height: 25px;
    width: 50px;
    background: dodgerblue;
    color: white;
    border: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.signOutDiv {
    text-align: right;
}

.signOut {
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 15px;

}

.link {
    text-decoration: none;
    color: white;

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-control, .btn {
    display: block;
    margin: 10px;
}


