p {
    margin: 0;
}

.lightgrey {
    color: grey;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
    border-bottom: 3px solid darkred;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.App-header-left {
    display: inline-block;
    width: 25%;
    text-align: left;
}

.App-header-left img {
    height: 75px;
    display: inline-block;
}

.App-header-center {
    display: inline-block;
    width: 50%;
    text-align: center;
    top: 0;
    margin: 0;
}

.App-header-center h2 {
    margin: 0;
}

.App-intro {
    font-size: large;
}


.window {
    background-color: gray;
}

.signIn {
    background-color: lightgrey;
    border-bottom: 1px solid black;
    position: fixed;
    top: 162px;
    left: 0;
    right: 0;
}

.userName {
    background-color: lightgrey;
    display: inline-block;
    margin: 10px;
    text-align: left;
}

.joinRoom {
    background: lightgrey;
    display: inline-block;
    margin: 10px;

}

.signInInput {
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.item {
    display: block;
    font-size: 10px;
    text-align: left;
}

.status {
    background-color: black;
    position: fixed;
    top: 124px;
    left: 0;
    right: 0;
}

.userNameRight {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-left: 100px;

}

.userNameLeft {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-right: 100px;
}

.conversation {
    height: 600px;
    background-color: white;
    padding: 10px;
    overflow: scroll;
    text-align: left;
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    z-index: -1;
}

.messageList {
    text-align: left;
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.messageItemHome {
    margin: 10px;
    border: 2px solid dimgray;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: darkred;
    width: 45%;
    margin-left: 45%;
    margin-right: 5%;
}

.messageItemAway {
    margin: 10px;
    border: 2px solid darkred;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgrey;
    width: 45%;
    margin-left: 5%;

}


.input {
    height: 40px;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

.typeMessage {
    margin: 5px 5px 5px 5px;
    height: 25px;
    width: 75%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.send {
    margin: 5px 5px 5px 5px;
    height: 25px;
    width: 50px;
    background: #222;
    color: white;
    border: 2px solid darkred;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.signOutDiv {
    text-align: right;
}

.signOut {
    color: white;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 15px;

}

.link {
    text-decoration: none;
    color: white;

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-control, .btn {
    display: block;
    margin: 10px;
}

@media only screen and (max-width: 480px) {

    .App-header-center {
        font-size: 12px;
    }

    .App-header-left img {
        height: 50px;
    }

    .status {
        top: 106px;
    }

    .status p {
        font-size: 9px;
        padding: 0;
    }

    .status div {
        margin: 0;
    }

    .userNameLeft {
        width: 30%;
        padding: 0;
        text-align: left;
    }

    .userNameRight {
        width: 60%;
        padding: 0;
        text-align: right;
    }

    .signIn {
        top: 124px;
    }

    .signIn div {
        display: inline-block;
    }

    .signInInput {
        width: 120px;
    }

    .item {
        font-size: 8px;
    }

    .conversation {
        height: 350px;
        position: fixed;
        bottom: 40px;
        left: 0;
        right: 0;
        overflow: auto;
        z-index: -1;
    }

    .typeMessage {
        width: 60%;
    }


}


